.profile__edit {
    background-image: url(../../../images/Edit_Button.svg);
    background-color: transparent;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    background-size: 10px, 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    transform: translateY(4px);
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .profile__edit {
        background-size: 7.5px, 7.5px;
        width: 18px;
        height: 18px;
        transform: translateY(12px);
    }
    
}