.profile__edit {
    background-image: url(../../../images/Edit_Button.svg);
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-bottom: 6px;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 450px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
    
}